.services {
  padding-top: 55px;
  padding-bottom: 107px;
  & > .katak {
    width: 11px;
    height: 11px;
    background: #222;
    margin: auto;
  }
  & > h5 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    /* identical to box height, or 151% */

    text-align: center;
    letter-spacing: 2.7625px;
    text-transform: uppercase;

    margin-top: 65px;
    color: #99823d;
  }
  & > h2 {
    font-family: "Teko";
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    /* or 100% */

    text-align: center;
    text-transform: capitalize;

    color: #141414;
    margin-top: 5px;
    max-width: 670px;
    width: 95%;
    margin: auto;
  }
  & > .services__block {
    padding-top: 82px;
    padding-bottom: 91px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  & > button {
    max-width: 392px;
    width: 95%;
    height: 68px;
    margin: auto;
    display: block;
    border: none;
    background: #99823d;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    text-align: center;
    letter-spacing: 2.975px;
    text-transform: uppercase;

    color: #ffffff;
  }
}
