.about__news__card {
  max-width: 320px;
  margin: 15px;
  & > h3 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    /* identical to box height, or 151% */

    letter-spacing: 2.7625px;
    text-transform: uppercase;

    color: #99823d;

    & > font {
      margin-left: 17px;
      margin-right: 17px;
    }
  }
  & > h2 {
    margin-top: 11px;
    font-family: "Teko";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    /* or 100% */

    text-transform: capitalize;

    color: #141414;
  }
}
